.nav-btn {
    color: black;
}

.informa {
    background-color: #eee;
    border-color: gray;
    border-width: 0.5px;
    color: black;
}

.navbar {
    border-width: 0.5px;
    border-color: gray;
    background-color: #eee;
}

.text-head {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    margin: 1px;
}

.text-head>.text {
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(3);
    grid-column: 2/3;
    margin: 10px;
    font-size: 30px;
}

.text h1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.text p{
    grid-column: 1/2;
    grid-row: 2/4;
}

.text-head>.album {
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 100%;
}

.album>img {
    width: 85%;
    border: 12px solid;
    border-radius: 50px;
    border-color: bisque;
    box-shadow: 10px 8px 30px 10px #000;
}

.text-head>.album-next {
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 90%;
}

.album-next>img {
    width: 95%;
    border: 12px solid;
    border-radius: 50px;
    border-color: bisque;
    box-shadow: -10px 8px 30px 10px #000;
}

section>h1 {
    border-style: solid;
    border-color: grey;
    border-width: 0.5px;
    background-color: #eee;
    font-size: 48px;
    text-align: center;
}

.link-class {
    display: block;
    text-align: center;
}

.content>.link-class>a {
    display: inline;
    text-decoration:overline;
    color:red;
}

.english-title {
    font-size: larger;
    font-weight: bold;
}
 
.ru-title {
    font-style: italic;
}
.content h2 {
    text-align: center;
    font-weight: lighter;
}

.content {
    font-size: 24px;
    background-color: rgba(128, 128, 128, 0.142);
}

.phrases {
    text-align: justify;
}